[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-restplus = "*"
flask-marshmallow = "*"
marshmallow-jsonapi = "*"

[requires]
python_version = "3.7"
